---
import Navbar from "../components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Navbar/> 
    <div class="mx-auto px-5 max-w-[1000px] w-full">
        <p>A list of all the services I self-host and where to find them.</p>
        <h1 class="text-xl mt-5 mb-3 font-extrabold"> <span class="bg-gray-700 rounded-lg p-1">Server #1</span></h1>
        <div class="flex flex-col gap-5 px-1">
            <div>
                <h1 class="text-lg  font-extrabold">Host</h1>
                <p>Hetzner CAX11, 2 vCPU, 4GB RAM</p>
            </div>
           <div>
                <h1 class="text-lg  font-extrabold">IPs</h1>
                <p>162.55.184.250, 2a01:4f8:c0c:861::/64</p>
           </div>
        </div>


        <table class="mt-5 w-full text-sm sm:text-base">
            <thead>
                <tr>
                    <th></th>
                    <th>URL</th>
                    <th>Description</th>
                    <th>Software</th>
                    <th>Public</th>
                </tr>
            </thead>

            <tr>
                <th>🌐</th>
                <th>unhandlederror.xyz</th>
                <th>My website/blog</th>
                <th>Astro</th>
                <th class="text-green-400">Yes</th>
            </tr>

            <tr>
                <th>🤖</th>
                <th>https://discord.gg/j7yVCBrYZf</th>
                <th>My personal funny discord bot, come check it!</th>
                <th>Discord.js</th>
                <th class="text-green-400">Yes</th>
            </tr>
        </table>
    </div>
</Layout>

<style>
    
    table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
    }

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid gray;
}

thead {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
</style>