---
---

<ul class="flex justify-between sm:justify-end gap-5 sm:gap-10 text-lg sm:text-xl text-white font-extrabold px-5 sm:px-8 py-5 my-5 mx-auto border-dashed border-white border-t-2 border-b-2 max-w-[960px] w-full">
    <li class="bg-gray-700 rounded-lg p-1">
        <a href="/">/UnhandledError</a>
    </li>
    <li class="bg-gray-700 rounded-lg p-1">
        <a href="posts">/Posts</a>
    </li>
    <li class="bg-gray-700 rounded-lg p-1">
        <a href="/services">/Services</a>
    </li>
</ul>
