---
---

<ul class="flex justify-end gap-10 text-xl text-white font-extrabold p-5 m-5 border-dashed border-white border-t-2 border-b-2 w-[1000px]">
    <li class="bg-gray-700 rounded-lg p-1"><a href="/">/UnhandledError</a></li>
    <li class="bg-gray-700 rounded-lg p-1"><a href="posts">/Posts</a></li>
    <li class="bg-gray-700 rounded-lg p-1"><a href="/services">/Services</a></li>
</ul>